{% extends "common.html" %}
{% block title %}Login Page{% endblock %}
{% block body %}
    <h1>Select Username</h1>
    <ul>
      {% for username in data %}
      <li><a href="user/{{username}}">{{username}}</a></li>
      {% endfor %}
    </ul>

    <!--<p><a href="/another">Go to the other page</a></p>-->

    <!--{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} 
    <form action="{{ url_for('login') }}" method="post">

      <dl>
        <dt>Username:</dt>
        <dd><input type="text" name="username" /></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="password" /></dd>
      </dl>
      Username:<br />
      <input type="text" name="username" /><br />
      Password:<br />
      <input type="password" name="password" /><br />
      <input type="submit" value="Login" />
    </form>-->



{% endblock %}
